svg {

    animation-name: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}


@keyframes spin {
    from {
        opacity: 0;
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    55% {
        opacity: 1;
    }
    60% {
        transform: translate(900px, 0);
    }
    80% {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}